:root {
    --text-color: #434455;
    --head-color: #2e2f42;
    --button-text-color: #4d5ae5;
    --bg-color: #f4f4fd;
    --hero-header-color: #ffffff;
    --active-button-bg: #404bbf;
    --icon-fill: #F4F4FD;
    --subtle-text: #8E8F99;
    --success: rgba(49, 208, 170, 1);
    --time-and-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* main styles*/
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
max-width: 396px;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;

@media screen and (min-width: 768px) {
    max-width: unset;
    width: 736px;
}

@media screen and (min-width: 1440px) {
    width: 1128px;
}
}

/* LOGO */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-text-color);
}

.nav .logo {
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer .logo {
        display: block;
        text-align: center;
    
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.logo-studio {
    color: var(--head-color);
}

.logo-footer {
    color: #f4f4fd;
}


/* HEADER */

.header {
    border-bottom: 1px solid #E7E9FC;
}

/* logo and nav */

.nav,
.header-wrap {
    display: flex;
    align-items: center;
}

.header-list {
    display: none;

@media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
    margin-left: 76px;
    }
}


.header-item {
    position: relative;
}

.nav-text {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--head-color);
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color var(--time-and-cubic);
}


.nav-text:hover,
.nav-text:focus {
    color: #404bbf;
}

.current {
    color: var(--button-text-color);
}

.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--button-text-color);
}

/* address */

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        gap: 40px;
    }

}

.address-item {

    @media screen and (max-width: 1440px) {
            display: block;
            text-align: right;
        }
}

.address-item:not(:last-child) {
    margin-bottom: 12px;

    @media screen and (min-width: 1440px) {
        margin-bottom: 0;
    }
}


.address-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color var(--time-and-cubic);
}

.address-text:hover,
.address-text:focus {
    color: #404bbf;
}

/* HEADER - MOBILE MENU */
/* open button */

.menu-open {
    display: block;
    background-color: transparent;
    border: none;
    padding: 24px 0;
    margin: 0;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-open-icon {
    stroke: #2E2F42;
    transition: stroke var(--time-and-cubic);
}

.menu-open:is(:hover, :focus) .menu-open-icon {
    stroke: var(--button-text-color);
}

/* close button */

.menu-close {
display: block;
margin-left: auto;
margin-bottom: 32px;

width: 24px;
height: 24px;

border: 1px solid #E7E9FC;
border-radius: 50%;
background-color: #ffffff;

cursor: pointer;
transition: background-color var(--time-and-cubic);
}

.menu-close-icon {
transition: fill var(--time-and-cubic);
}

.menu-close:is(:hover, :focus) {
    background-color: var(--active-button-bg);
}

.menu-close:is(:hover, :focus) .menu-close-icon {
fill: #ffffff;
}

/* menu */

.mobile-menu {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    width: 100vw;
    height: 100vh;

    background-color: #ffffff;
    padding: 24px 24px 40px 40px;

    opacity: 1;
    transform: scale(1);
    transition: opacity var(--time-and-cubic),
    transform var(--time-and-cubic);
}

.mobile-menu.is-hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* menu nav */

.menu-nav-text {
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--head-color);
    margin-bottom: 40px;

    transition: color var(--time-and-cubic);
}

.menu-current {
    color: var(--success);
}


.menu-nav-text:hover,
.menu-nav-text:focus {
    color: #404bbf;
}

.menu-address {
    font-style: normal;
}

.menu-tel {
    margin-bottom: 40px;
}

.menu-tel-text {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #4D5AE5;

    @media screen and (max-width: 420px) {
        font-size: 26px; }

    transition: color var(--time-and-cubic);
    
}

.menu-email {
    margin-bottom: 48px;
}

.menu-email-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;

        transition: color var(--time-and-cubic);
}

.menu-email-text:is(:hover, :focus),
.menu-tel-text:is(:hover, :focus) {
    color: var(--active-button-bg);
}

/* menu soc icons */

.menu-icon-list {
display: flex;
justify-content: flex-start;
gap: 56px;

    @media screen and (max-width: 420px) {
            gap: 30px;
        }
}

.menu-icon-item {
width: 40px;
    height: 40px;
}

.menu-icon-link {
display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--button-text-color);
    border-radius: 50%;
    fill: var(--icon-fill);

    transition: background-color var(--time-and-cubic);
}

.menu-icon-link:hover,
.menu-icon-link:focus {
    background-color: var(--active-button-bg);
}

.menu-icon-svg {

}

/* HERO SECTION */

.hero-section {
padding-top: 112px;
padding-bottom: 112px;
margin-left: auto;
margin-right: auto;

background-color: var(--head-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-people-office.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

max-width: 1440px;


@media screen and (min-width: 768px) {
    padding-top: 188px;
    padding-bottom: 188px;
    }
}

.hero-head {
font-size: 36px;
font-weight: 700;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--hero-header-color);

margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
max-width: 320px;

@media screen and (min-width: 768px) {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }

@media screen and (min-width: 1440px) {
    margin-bottom: 48px;
}
}

.hero-button {
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;

    color: var(--hero-header-color);
    background-color: var(--button-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color var(--time-and-cubic);

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* STUDIO ADVANTAGES */

.section {
padding-top: 96px;
padding-bottom: 96px;

@media screen and (min-width: 1440px) {
    padding-top: 120px;
    padding-bottom: 120px;
}   

}

.main-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--head-color);
    margin: 0 auto 72px;
}

.studio-list {

@media screen and (max-width: 767px) {
    margin-bottom: -72px;
    }


@media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;

        margin-bottom: 0;
    }
}

.studio-item {
    margin-bottom: 72px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        width: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: 1440px) {
        width: calc((100% - 24px) / 4);
        max-width: 264px;
        }
}

.studio-icon-wrap {
    display: none;

@media screen and (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: center;
        
    height: 112px;
    background-color: rgba(244, 244, 253, 1);
    border-radius: 4px;
    margin-bottom: 8px;
}
}

.text-head {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--head-color);

    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.studio-list .text-head {
    @media screen and (min-width: 768px) {
            text-align: left;
        }

    @media screen and (min-width: 1440px) {
        font-size: 20px;
        }
}

.main-text {
    line-height: 1.5;
}

/* WHAT WE ARE DOING SECTION */

.no-top-padding {
    display: none;

@media screen and (min-width: 1440px) {
    display: block;
    padding-top: 0;
}
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-item {
    width: calc((100% - 48px) / 3);
}

/* OUR TEAM SECTION */

.section-team .container {
    width: 264px;

    @media screen and (min-width: 768px) {
        width: 552px;
    }

    @media screen and (min-width: 1440px) {
        width: 1128px;
    }

}

.section-team {
    background-color: #F4F4FD;
}

.section-team .main-head {
    @media screen and (max-width: 767px) {
        margin: 0 auto 82px;
    }
}

.team-list {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
}

.team-item {
    width: 100%;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

@media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
}

@media screen and (min-width: 1440px) {
    width: calc((100% - 72px) / 4);
    }
}

.team-item:not(:last-child) {
    @media screen and (max-width: 767px) {
    margin-bottom: 72px;
    }
}


.team-list-wrap {
    padding: 32px 0;
    text-align: center;
}

.team-list-wrap .text-head {
        font-size: 20px;
}

/* our team icons */

.team-icon-list {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--button-text-color);
    border-radius: 50%;
    fill: var(--icon-fill);

    transition: background-color var(--time-and-cubic);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--active-button-bg);
}

.team-icon-svg {
    fill: currentColor;
}

/* CUSTOMERS SECTION */

.customers-section > .container {
    @media screen and (min-width: 768px) {
            width: 552px;
        }
        
        @media screen and (min-width: 1440px) {
            width: 1128px;
        }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;

    @media screen and (min-width: 768px) {
        column-gap: 24px;
    }
}

.customers-item {
    max-width: 190px;
    width: calc((100% - 16px) / 2);

    @media screen and (min-width: 768px) {
    max-width: 168px;
    width: ((100% - 24px) / 3);
    }


    @media screen and (min-width: 1440px) {
     width: ((100% - 24px) / 6);
    }   
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    color: var(--subtle-text);

    transition: border var(--time-and-cubic),
        color var(--time-and-cubic);
}

.customers-svg {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--active-button-bg);
    color: var(--active-button-bg);
}

/* FOOTER */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--head-color);

    @media screen and (min-width: 1440px) {
    padding-top: 100px;
    padding-bottom: 100px;
    }
}

.footer > .container {
     @media screen and (min-width: 768px) {
        width: 552px;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1440px) {
        width: 1128px;
    }
}

/* first part - footer-contaner */

.footer-container {
    width: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    @media screen and (min-width: 768px) {
    width: 264px;
    margin-left: 0;
    margin-bottom: 0px;
    }
}

.footer-text {
    color: var(--bg-color);
    margin-top: 16px;
}

/* second part - media-contaner */

.media-container {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    @media screen and (min-width: 768px) {
       margin-left: 24px;
    margin-bottom: 0;
    }

    @media screen and (min-width: 1440px) {
    margin-left: auto;
    margin-right: 0;
    }
}

.media-header {
    display: block;
    text-align: center;

    @media screen and (min-width: 768px) {
            text-align: unset;
        }

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-header-color);
}

/* footer icons */

.footer-icon-list {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--icon-fill);

    transition: background-color var(--time-and-cubic);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--success);
}

.footer-icon-svg {
    display: block;
    width: 24px;
    height: 24px;
    padding: 8px;
    fill: currentColor;
}

/* third part - subscribe-container */

.subscribe-container {
@media screen and (min-width: 768px) {
    margin-top: 72px;
}

@media screen and (min-width: 1440px) {
margin-left: auto;
margin-top: 0;
}

}

.form-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;

@media screen and (min-width: 768px) {
    flex-wrap: nowrap;
}
}

.subscribe-container input {
    width: 100%;
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;

@media screen and (min-width: 768px) {
    width: 264px;
}
}

.subscribe-container input::placeholder {
    color: #FFFFFF;
    font-size: 12px;
}

.submit-button {
margin: 16px auto 0;

@media screen and (min-width: 768px) {
    margin: 0 0 0 24px;
}

    display: flex;
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;
    border-radius: 4px;

    color: #FFFFFF;
    background-color: var(--button-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color var(--time-and-cubic);
    transition: transform var(--time-and-cubic);

}

.submit-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.submit-button:hover,
.submit-button:focus {
    background-color: #404BBF;
}

.submit-button:hover .submit-icon,
.submit-button:hover .submit-icon {
    transform: scale(0.8);
}

/* MODAL anohter file */

/* ---------------PORTFOLIO--------------- */

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;

    @media screen and (min-width: 768px) {
    padding-top: 64px;
    padding-bottom: 96px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

/* porfolio buttons */

.portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;

    margin-bottom: 48px;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
        justify-content: center;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 72px;
    }

}

.list-button {
    display: inline-block;
    padding: 12px 24px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--button-text-color);
    background-color: var(--bg-color);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #E7E9FC;

    transition: color var(--time-and-cubic),
        background-color var(--time-and-cubic),
        border var(--time-and-cubic),
        box-shadow var(--time-and-cubic);
}

.list-button:hover,
.list-button:focus {
    color: var(--hero-header-color);
    background-color: var(--active-button-bg);
    border: 1px solid var(--active-button-bg);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio pictures */

.portfolio-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    @media screen and (min-width: 1440px) {
        row-gap: 48px;
    }

}

.portfolio-item {
    @media screen and (min-width: 768px) {
        width: calc((100% - 24px) / 2);
        }
    
    @media screen and (min-width: 1440px) {
        width: calc((100% - 48px) / 3);
        }
  
}

.portfolio-item:not(:last-child) {
    margin-bottom: 48px;
}

.portfolio-link {
    display: block;

    transition: box-shadow var(--time-and-cubic);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-wrap {
    padding: 32px 0 32px 16px;
    background: #FFFFFF;

    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-text-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--head-color);
    margin-bottom: 8px;
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: var(--hero-header-color);
    background-color: var(--button-text-color);

    transition: transform var(--time-and-cubic);
}

.portfolio-link:hover .overlay {
    transform: translateY(-100%);
}





