.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;

    transition: opacity var(--time-and-cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    /* visibility: hidden; */
}

/* коли модалка схована */
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

/* коли модалка показана */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 72px 16px 24px 16px;

    /* max-width: 392px; */
    border-radius: 4px;
    background-color: #ffffff;

    @media screen and (min-width: 428px) {
        max-width: unset;
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    @media screen and (max-width: 428px) {
        width: 85vw;
        height: 95vh;
        overflow: scroll;
    }

    transition: transform var(--time-and-cubic);
}

.modal-button {
display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;

    /* margin-left: auto;
    margin-bottom: 32px; */

    width: 24px;
    height: 24px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;

    cursor: pointer;
    transition: background-color var(--time-and-cubic);
}


.icon-close {
transition: fill var(--time-and-cubic);
}

.modal-button:is(:hover, :focus) {
    background-color: var(--active-button-bg);
}

.modal-button:is(:hover, :focus) .icon-close {
    fill: #ffffff;
}

/* Стилі форм */

.form-field,
.comment {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.form-field {
    position: relative;
}

.field-icon {
    position: absolute;
    display: block;
    bottom: 8px;
    left: 16px;
    fill: var(--head-color);

    transition: fill var(--time-and-cubic);
}

.icon-person {
    bottom: 11px;
}

.form-field input {
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    padding-left: 38px;
}

/* .input:hover {
  border: 1px solid tomato;
} */



.comment textarea {
    resize: none;
    padding: 8px 16px;

    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    height: 120px;

    @media screen and (max-width: 428px) {
        height: 90px;
        }
}

.form-title {
    display: block;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;

    @media screen and (max-width: 428px) {
            font-size: 14px;
        }
}

.comment {
    margin-bottom: 16px;
}

.checkbox {
    margin-bottom: 24px;
}

.form-field label,
.comment label,
.checkbox label,
.comment textarea::placeholder {
    margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #8E8F99;
}

.comment textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.checkbox a {
    color: #4D5AE5;
}

.checkbox a:visited {
    color: #4D5AE5;
}

.formfield input,
.comment input {
    padding: 8px 16px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
}

.form-field:focus-within input,
.form-field input:checked,
.comment:focus-within textarea,
.comment textarea:checked {
    outline: transparent;
    border: 1px solid var(--button-text-color);
}

.form-field:focus-within .field-icon,
input:checked+.field-icon {
    fill: var(--button-text-color);
}

/* чекбокс */

/* .check-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check {
    padding-left: 24px;
    position: relative;
}

.check-box-on {
    position: absolute;
    top: -1px;
    margin-left: -24px;

    border: none;
    border-radius: 2px;

    opacity: 0;
}

.check-box-off {
    position: absolute;
    top: -1px;
    margin-left: -24px;

    border: none;

    opacity: 1;
}

.check-input:checked+.check-box-on {
    opacity: 1;
}

.check-input:checked+.check-box-off {
    opacity: 0;
}